h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.App {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  
  .half {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  textarea {
    width: 100%;
  }